name: Build Runner image

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/build.yml"
      - "Dockerfile"

concurrency:
  group: build
  cancel-in-progress: true

jobs:
  Build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        tag: [ ubuntu-20.04, ubuntu-22.04 ]

    steps:
      - uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push runner image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            TAG=${{ matrix.tag }}
          push: true
          tags: ghcr.io/santhoshnath/github-runner:${{ matrix.tag }}
